/* app/components/sidebar/Sidebar.css */

@reference "tailwindcss";

.sidebar-item {
    @apply flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-gray-500 hover:text-white text-black cursor-pointer;
}

.sidebar-item-active {
    @apply bg-blue-600 text-white;
}